
@{
    ViewBag.Title = "Cadastrar";
}

<h3 class="text-center">Cadastrar Conta à Receber</h3>

<form action="@Url.Action("Store")" method="post" class="offset-4">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-cliente">Cliente</label>
                <select name="idCliente" id="campo-cliente" class="form-control">
                    <option selected disabled value="-1">Selecione algum Cliente</option>
                    @foreach (Model.Cliente cliente in ViewBag.Clientes)
                    {
                        <option value="@cliente.Id">@cliente.Nome</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-categoria">Categoria</label>
                <select name="idCategoria" id="campo-categoria" class="form-control">
                    <option selected disabled value="-1">Selecione alguma Categoria</option>
                    @foreach (Model.Categoria categoria in ViewBag.Categorias)
                    {
                        <option value="@categoria.Id">@categoria.Nome</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-nome">Nome</label>
                <input type="text" name="nome" id="campo-nome" class="form-control" />
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-valor">Valor</label>
                <input type="number" step=".01" name="valor" id="campo-valor" class="form-control" />
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-data-pagament">Data de Pagamento</label>
                <input type="date" name="dataPagamento" id="campo-data-pagamento" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" />
            </div>
        </div>
    </div>

    <div class="col-12">
        <button class="btn btn-dark  offset-5" type="submit"><i class="fas fa-save"></i>Salvar </button>
    </div>
</form>