
@{
    ViewBag.Title = "Editar";
}

<h3 class="text-center">Editar Cliente</h3>

<form action="@Url.Action("Update")" method="post" class="offset-4">
    <input type="hidden" name="id" value="@ViewBag.Cliente.Id" />
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-nome">Nome</label>
                <input type="text" name="nome" id="campo-nome" class="form-control" value="@ViewBag.Cliente.Nome" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-cpf">CPF</label>
                <input type="text" name="cpf" id="campo-cpf" class="form-control" value="@ViewBag.Cliente.CPF" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-contabilidade">Contabilidade</label>
                <select name="idContabilidade" id="campo-contabilidade" class="form-control">
                    @foreach (Model.Contabilidade contabilidade in ViewBag.Contabilidades)
                    {
                        if (ViewBag.Cliente.IdContabilidade == contabilidade.Id)
                        {
                            <option selected value="@contabilidade.Id">@contabilidade.Nome</option>
                        }
                        else
                        {
                            <option value="@contabilidade.Id">@contabilidade.Nome</option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="col-12">
        <button class="btn btn-dark offset-5" type="submit"><i class="fas fa-save"></i> Salvar</button>
    </div>
</form>