
@{
    ViewBag.Title = "Editar";
}

<h3 class="text-center">Editar Cliente</h3>
<form action="@Url.Action("Update")" method="post" class="offset-4" id="editarForm">
    <input type="hidden" name="id" value="@ViewBag.Cliente.Id" />
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-contabilidade">Contabilidade</label>
                <select name="idContabilidade" id="campo-contabilidade" class="form-control">
                    @foreach (Model.Contabilidade contabilidade in ViewBag.Contabilidades)
                    {
                        if (ViewBag.Cliente.IdContabilidade == contabilidade.Id)
                        {
                            <option selected value="@contabilidade.Id">@contabilidade.Nome</option>
                        }
                        else
                        {
                            <option value="@contabilidade.Id">@contabilidade.Nome</option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-nome">Nome</label>
                <input type="text" name="nome" id="campo-nome" class="form-control" value="@ViewBag.Cliente.Nome" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-cpf">CPF</label>
                <input type="text" name="cpf" id="campo-cpf" class="form-control" value="@ViewBag.Cliente.CPF" />
            </div>
        </div>
    </div>

    <div class="col-12">
        <button class="btn btn-dark offset-5" type="submit"><i class="fas fa-save"></i> Salvar</button>
    </div>
</form>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.min.js"></script>
<script>
    $(document).ready(() => {
        $('#campo-cpf').mask('000.000.000-00', { reverse: true });

        var selectedContabilidade = 0;

        $('#campo-contabilidade').change(() => {
            selectedContabilidade = $('#campo-contabilidade').children("option:selected").val();
        });

        $('#editarForm').validate({
            rules: {
                idContabilidade: {
                    required: function () {
                        return selectedContabilidade == 0;
                    }

                },
                nome: {
                    required: true,
                    minlength: 2
                },
                cpf: {
                    required: true,
                    minlength: 14,
                    maxlength: 14
                }
            },
            messages: {
                nome: {
                    required: "Por favor, coloque algum nome",
                    minlength: "O nome deve conter 2 caractéres no mínimo."
                },
                cpf: {
                    required: "Por favor, coloque algum CPF",
                    minlength: "O CPF deve conter 14 caractéres",
                    maxlength: "O CPF deve conter 14 caractéres"
                },
                idContabilidade: {
                    required: "Selecione alguma contabilidade."
                }
            },
            errorElement: "em",
            errorPlacement: function (error, element) {
                error.addClass("help-block text-danger");

                if (element.prop("type") === ("checkbox")) {
                    error.insertAfter(element.parent("label"));
                } else {
                    error.insertAfter(element);
                }
            },
            highlight: function (element, errorClass, validClass) {
                $(".error").addClass("text-danger").removeClass("text-success");
                $(element).addClass("bordered border-danger").removeClass("bordered border-success");
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).addClass("bordered border-success").removeClass("bordered border-danger");
            }
        });
    });
</script>